*{
 margin:0px;
 padding:0px;
 box-sizing:border-box;
}
body{
background-color: rgb(158, 173, 197);
}



.text{
 text-align: center;
 font-size: 25px; 
 color: white;
 margin-top: 2%;
 color: rgb(213, 236, 8);
}

.img{
 margin-left: 30%;
 width: 150px;
 height: 180px;
 margin-top: 5%;
}